$font-size-title:50px;

$font-size-parraf:20px;

$font-size-menu-a-hover:20.3px;

$font-size-list-a:20px;

$font-size-submenu-a:21px;

$font-size-footer-a-hover:20.1px;

$font-size-footer-h3: 60px;

$font-fam-login:'Gemunu Libre',sans-serif;