
$colorHtml:#e46e00;
$colorHtmlHover:#ff5100;
$colorHtmlText:rgb(247, 155, 102);
$colorHtmlTitle:rgb(255, 255, 255);
$bg-gradient-html:linear-gradient(to bottom, rgba(255, 115, 0, 0.164) ,rgba(151, 68, 0, 0.397));
$color-p-html:rgb(253, 196, 148);
$bg-img-html:url(../src/multimedia/fondos/fondo-html.svg);
$bg-h1-html:#e46e00ab;

$colorCss:#0067dd;
$colorCssHover:#0077ff;
$colorCssText:rgb(0, 74, 211);
$colorCssTitle:rgb(111, 202, 255);
$bg-gradient-css:linear-gradient(to bottom, rgba(17, 0, 255, 0.048) ,rgba(5, 0, 51, 0.24));
$color-p-css:rgb(13, 1, 78);
$bg-img-css:url(../src/multimedia/fondos/fondo-css.svg);
$bg-h1-css:#0067dd9b;


$colorJavasc:#fdd806;
$colorJavascHover:#fffb00;
$colorJavascText:rgb(0, 0, 0);
$colorJavascTitle:rgba(15, 7, 14, 0.562);
$bg-gradient-javasc:linear-gradient(to bottom, rgba(255, 251, 0, 0.048) ,rgba(50, 51, 0, 0.24));
$color-p-javasc:rgb(240, 216, 0);
$bg-img-javasc:url(../src/multimedia/fondos/fondo-javascript.svg);
$bg-h1-javasc:#ffee00c9;


$colorReactjs:#00d4f0;
$colorReactjsHover:#07cdff;
$colorReactjsText:rgb(0, 174, 255);
$colorReactjsTitle:rgb(20, 2, 97);
$bg-gradient-reactjs:linear-gradient(to bottom, rgba(0, 4, 255, 0.048) ,rgba(0, 7, 51, 0.24));
$bg-h1-reactjs:#0193a786;
$color-p-reactjs:rgb(0, 212, 240);
$bg-img-reactjs:url(../src/multimedia/fondos/fondo-react.svg);



$colorCursos:#9a43fd;
$colorCursosHover:#46ffa3;


$colorLogin:#acacac;
$colorLoginHover:#e98fff;


$colorConocemas:#c300ff;
$colorConocemasHover:#00ff73;

$colorLoginPage: rgba(197, 41, 245, 0.692);
$colorLoginPage2: #ffffff5e;
$colorTextLoginPage:white;
$colorTitleLoginPage:#aaaaaa;


$colorTituloPag: azure;

$shadowBox:2px 2px 4px rgb(0, 0, 0);
$shadowBox2:1px 2px 4px rgba(0, 0, 0, 0.479);
$shadowText:1px 1px #000000;


$bg-footPrinc:#0000007e;
$color-footPrinc-li:rgba(0, 0, 0, 0); 
$color-footPrinc-a:white;
$color-footPrinc-h3:rgba(255, 255, 255, 0.644);
$color-footPrinc-listaUno-a-hover: #ff4089;
$color-footPrinc-listaDos-a-hover:rgba(148, 66, 255, 0.753);
$color-footPrinc-listaTres-a-hover:springgreen;


$colorNone : #00000000;
$black_0: rgb(0, 0, 0);
$black_50:rgba(0, 0, 0, 0.501);
$black_75: rgba(0, 0, 0, 0.748);
$bg-gradient-login:linear-gradient(45deg, rgba(95, 0, 139, 0.609), rgba(160, 0, 27, 0.746));
$bg-gradient-login2:linear-gradient(45deg, rgba(205, 105, 251, 0.609), rgba(253, 10, 51, 0.746));

$a-grid: rgb(239, 247, 255);
$a-grid-hover:rgb(187, 115, 255);
$icons-grid-gradient:linear-gradient(45deg, rgba(32, 32, 32, 0.596),rgba(255, 255, 255, 0.493));
$aside-grid-gradient:linear-gradient(45deg, rgba(32, 32, 32, 0.219),rgba(0, 0, 0, 0.514),rgba(32, 32, 32, 0.698));