
@import "variables";
@import "estilos";
@import "mix-maps";
@import "grid";
@import "paginaPrincipal";
@import "login";
@import "pagina_Info_Curso";

* {
body{
    
    p   {padding: 20px;
        margin: 10px 0px;
        text-shadow: $shadowText;}

    h1 {border-radius: 10px;
        text-align: center;
        margin-top: -33px;}
    
    h2 {border-radius: 10px;
        text-align: center;
        margin-top: -33px;}

    
    a {text-decoration: none;}

    text-align: justify;
    font-size: $font-size-parraf;


}

margin: 0;
padding:0;
font-family: 'Gemunu Libre', sans-serif;}
